<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap = "vendor/autoload.php"
    backupGlobals = "false"
    backupStaticAttributes = "false"
    colors = "true"
    convertErrorsToExceptions = "true"
    convertNoticesToExceptions = "true"
    convertWarningsToExceptions = "true"
    processIsolation = "false"
    stopOnFailure = "false"
    cacheResult = "false">
    <testsuites>
        <testsuite name="Angular Commands Unit Test Suite">
            <directory>tests/Unit/Commands/Angular</directory>
        </testsuite>
        <testsuite name="PHP Commands Unit Test Suite">
            <directory>tests/Unit/Commands/PHP</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>bin</directory>
        </exclude>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>

</phpunit>